<div class="trick">
    <div class="trick__image-container">
        <img class="trick__image" src={{ trick.coverImage.url }}/>
    </div>
    <h4>
        <a href={{ path('display_trick', {slug: trick.slug}) }}>{{ trick.name }}</a>
    </h4>
    <p>{{ trick.trickgroup.name }}</p>
</div>