.hero {
    &--homepage {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        height: 66vh;
        background-color: $colour-main;
        background-image: url('../../images/snowboard-1.jpg');
        background-size: cover;
        background-position: center;
        background-blend-mode: overlay;
    }
    &__display-text {
        font-family: $font-display;
        font-size: ms(10);
        color: $grey-100;
        line-height: 1;
    }
}