.main {
  max-width: $block-width;
  padding: 0 $spacing-xlarge;
  margin: $spacing-xlarge auto;

  &--centered {
    @extend .main;
    margin-left: auto;
    margin-right: auto;
  }
  @include until($screen-size-md) {
    padding: 0 $spacing-large;
  }
  @include until($screen-size-sm) {
    height: auto;
    padding: 0 $spacing-medium;
  }
}
