.trick {
  @extend .column;
  @extend .is-one-third;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  transition: background-color 200ms ease-out;
  padding-bottom: $spacing-medium;
  margin-bottom: $spacing-small;

  &:hover,
  &:focus {
    background-color: $grey-200;
  }
  @include until($screen-size-md) {
    width: 100%;
  }

  &__details {
    padding-bottom: $spacing-large;
    border-bottom: 1px solid $grey-600;
    margin-bottom: $spacing-large;
  }

  &__group {
    margin-bottom: $spacing-medium;
  }

  &__coverContainer {
    object-fit: cover;
    margin-bottom: $spacing-small;
  }

  &__list {
    @extend .columns;
    display: flex;
    flex-flow: row wrap;
    @include until($screen-size-md) {
      flex-flow: column;
    }
  }

  &__media {
    max-width: 20rem;
    aspect-ratio: 16/9;
    margin-right: $spacing-small;
    margin-bottom: $spacing-large;

    &Collection {
      margin-bottom: $spacing-large;
    }
  }
}
