/*
** Importing typography
*/

@font-face {
    font-family: "Manrope";
    font-style: normal;
    src: url('../../fonts/Manrope/Manrope[wght].ttf');
  }
  
  
  @font-face {
    font-family: "Romantika Hidup";
    font-style: normal;
    src: url('../../fonts/RomantikaHidup/RomantikaHidup.otf');
  }