{% extends "base.html.twig" %}

{% block title %}
    - Reset Password
{% endblock %}

{% block body %}
    <main class="main--centered">
        <section class="section">
            <h2>Réinitialisez votre mot de passe</h2>

            <section class="form">
                {{ form_start(passwordResetForm) }}
                    <div class="form__field">
                        {{ form_label(passwordResetForm.email) }}
                        {{ form_widget(passwordResetForm.email) }}
                    </div>

                    <p>Vous allez recevoir un email avec un lien pour réinitialiser votre mot de passe.</p>

                    <button type="submit" class="button is-link">Valider</button>
                {{ form_end(passwordResetForm) }}

            </section>
        </section>
    </main>
{% endblock %}